*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
  background-color: #1A0B2E;
  padding-top: 0px;
  width: 100%;
  max-width: 1801px;
  margin: 0px auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 314px; */
  padding: 0px 200px;
  border-bottom: 1px solid rgba(65, 37, 103, 1);;
}
.logo h2{
  font-size: 44px;
  /* font-weight: bold; */
  color: #ffffff;
  width: 219px;
  height: 32px;
  margin-top: 16px;
  margin-bottom: 35px;
}
.other-half{
  background: linear-gradient( to top right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 32px;
}
nav .menu a{
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
}
.btn-container{
}
.btn{
  background: linear-gradient( to top right, #F7E93F, #FB09B4, #9100F8);
  border: none;
  padding: 12px 16px;
  border-radius: 10000px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 4px;
}

#banner{
  background-image: url(./assets/hero-bg.png);
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  /* border: 1px solid red; */
  /* padding-top: 100x; */
  width: 100%;
  max-width: 1801px;
  height: 760px;
  /* max-height: 760px; */
  margin: 0px auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 101px;
}

.banner-img{
  display: block;
}
.banner-img .badge{
  border: none;
  position: absolute;
  top: 200px;
  left: 54%;
  color: #1A0B2E;
  font-size: 18px;
  font-weight: 600;
  background: #00FF88;
  padding: 8px 16px 8px 16px;
  border-radius: 10000px;
}
.banner-logo{
  position: absolute;
  top: 255px;
  /* transform: translateY(50%); */
}

.banner-txt{
  text-align: center;
}
.banner-txt h2{
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 800px;
  margin-top: 40px;
  margin-bottom: 8px;
}
.banner-txt p{
color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
}
.banner-btn{
  display: flex;
  gap: 8px
}
.banner-btn .calred{
  color: #FFFFFF;
  background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  padding: 12px 20px;
  border: none;
  border-radius: 10000px ;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner-btn .trans{
  color: #00FF88;
  background: transparent;
  padding: 12px 20px;
  border: 1px solid #00FF88;
  border-radius: 10000px ;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.podcast{
  /* border: none; */
  /* padding-top: 100x; */
  width: 100%;
  max-width: 1801px;
  margin: 0px auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;
  /* padding-top: 101px; */
  background: #1A0B2E;
}
.podcast .p-head{
  text-align: center;
  margin-bottom: 80px;
}
.p-head h3{
  font-size: 48px;
  font-weight: 700; 
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 16px;
}
.p-head p{
  font-size: 16px;
  font-weight: 400; 
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 16px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  /* gap: 8px; */
  
}
.line{
  border: 1px solid #FFFFFF;
  opacity: 0.1;
  width: 1400px;
  margin: 0 auto;
}

.details{
  display: flex;
  justify-content:center;
  gap: 80px;
  /* margin: 0 auto;  */
  margin-top: 80px;
  /* margin-bottom: 120px; */
}
.details li{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  list-style: none;
}
.details .number{
  color: #00FF88;
  font-size: 48px;
  font-weight: 900;
}
.details p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 120px;
  /* text-wrap: */
}

.grid{
  width: 100%;
  max-width: 1801px;
  margin: 0px auto;
  padding-top: 120px;
  background-color: #230E3D;
  /* border: 1px solid red;  */
}
.grid .grid-head{
  text-align: center;
  /* padding-bottom: 40px; */
  /* border: 1px solid #00FF88; */
  margin: 0 auto;
  width: 1400px;
}
.grid-head h3{
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}
.grid .cards{
  /* border: 1px solid palevioletred; */
  width: 1400px;
  height: 1109;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* background-color: #35116566; */
  gap: 30px;
  padding-bottom: 120px;
  
}
.cards h3{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  margin: 21px 0 16px 0;

}
.cards p{
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
}
.cards .card1{
  background-color: #35116566;
  grid-row: 1/span 2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 40px;

}

.cards .card2{
  background-color: #35116566;
  grid-column: 2/span2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 107.5px 40px;
}
.cards .card3{
  background-color: #35116566;
  grid-column: 2/span2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 40px;
}
.cards .card4{
  background-color: #35116566;
  grid-column: 1/span 2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 40px;
  /* margin-bottom: 120px; */
}
.cards .card5{
  background-color: #35116566;
  grid-column: 3/span 2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 40px 60px 40px 40px;
  /* margin-bottom: 120px; */
}

.last-container{
  background-color: #1A0B2E;
  width: 100%;
  max-width: 1801px;
  margin: 0px auto;
  padding-top: 120px;
  /* background-color: #230E3D; */
  border: 1px solid red; 

}
.video-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #230E3D; */
  gap: 30px;
}




@media  (max-width:576px) {
    .menu .btn-container{
       display: none;

    }  
}