*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
  background-color: #1A0B2E;
  padding-top: 0px;
  width: 100%;
  max-width: 1801px;
  margin: 0px auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 314px; */
  padding: 0px 200px;
  border-bottom: 1px solid rgba(65, 37, 103, 1);;
}
.logo h2{
  font-size: 44px;
  /* font-weight: bold; */
  color: #ffffff;
  width: 219px;
  height: 32px;
  margin-top: 16px;
  margin-bottom: 35px;
  display: inline-block;
  animation: float 1.5s ease-in-out infinite alternate;
}
@keyframes float{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.other-half{
  background: linear-gradient( to top right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 32px;
}
nav .menu a{
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
}
.menu a:hover{
  text-decoration: underline;

}
.btn-container{
}
.btn{
  background: linear-gradient( to top right, #F7E93F, #FB09B4, #9100F8);
  border: none;
  padding: 12px 16px;
  border-radius: 10000px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 4px;
}
.btn:hover{
  cursor: pointer;
  background: linear-gradient( to bottom left,  #F7E93F, #250D44, #F7E93F);
  box-shadow: 0px 5px 15px rgba(83, 60, 114, 1);
}
nav>span{
  display: none;
  align-items: center;
  justify-content: left;
}

#banner{
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 1px solid red; */
  /* padding-top: 100x; */
  width: 100%;
  max-width: 1801px;
  height: 760px;
  /* max-height: 760px; */
  margin: 0px auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 101px;
}

.banner-img{
  display: block;
  border-radius: 1000px;
}
.banner-img .badge{
  border: none;
  position: absolute;
  top: 200px;
  left: 54%;
  color: #1A0B2E;
  font-size: 18px;
  font-weight: 600;
  background: #00FF88;
  padding: 8px 16px 8px 16px;
  border-radius: 10000px;
  animation: glow 0.5s ease-in-out infinite alternate;
}
@keyframes glow{
  0% {
    box-shadow: 0 0 5px #00FF88;
  }
  100% {
    box-shadow: 0 0 20px #00FF88;
  }
}
.banner-logo{
  position: absolute;
  top: 255px;
  /* transition: transform 2s ease; */
  display: block;
  animation: spin 2s linear;
}
@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.banner-txt{
  text-align: center;
}
.banner-txt h2{
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 800px;
  margin-top: 40px;
  margin-bottom: 8px;
}
.banner-txt p{
color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
}
.banner-btn{
  display: flex;
  gap: 8px;
  /* padding: 105px; */
}
.calred:hover{
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(83, 60, 114, 1);
}
.trans:hover{
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 255, 136, 1) ;
}
.banner-btn .calred{
  color: #FFFFFF;
  background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  padding: 12px 20px;
  border: none;
  border-radius: 10000px ;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner-btn .trans{
  color: #00FF88;
  background: transparent;
  padding: 12px 20px;
  border: 1px solid #00FF88;
  border-radius: 10000px ;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.podcast{
  /* border: none; */
  /* padding-top: 100x; */
  width: 100%;
  max-width: 1801px;
  margin: 0px auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;
  /* padding-top: 101px; */
  background: #1A0B2E;
}
.podcast .p-head{
  text-align: center;
  margin-bottom: 80px;
}
.p-head h3{
  font-size: 48px;
  font-weight: 700; 
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 16px;
}
.p-head p{
  font-size: 16px;
  font-weight: 400; 
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 16px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  /* gap: 8px; */
  
}
.line{
  border: 1px solid #FFFFFF;
  opacity: 0.1;
  width: 1400px;
  margin: 0 auto;
}

.details{
  display: flex;
  justify-content:center;
  gap: 80px;
  /* margin: 0 auto;  */
  margin-top: 80px;
  /* margin-bottom: 120px; */
}
.details li{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  list-style: none;
}
.details .number{
  color: #00FF88;
  font-size: 48px;
  font-weight: 900;
}
.details p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 120px;
  /* text-wrap: */
}

.grid{
  width: 100%;
  max-width: 1801px;
  margin: 0px auto;
  padding-top: 120px;
  background-color: #230E3D;
  /* border: 1px solid red;  */
}
.grid .grid-head{
  text-align: center;
  /* padding-bottom: 40px; */
  /* border: 1px solid #00FF88; */
  margin: 0 auto;
  width: 1400px;
}
.grid-head h3{
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}
.grid .cards{
  /* border: 1px solid palevioletred; */
  width: 1400px;
  height: 1109;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* background-color: #35116566; */
  gap: 30px;
  padding-bottom: 120px;
  
}
.cards h3{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  margin: 21px 0 16px 0;

}
.cards p{
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
}
.cards .card1{
  background-color: #35116566;
  grid-row: 1/span 2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 40px;

}

.cards .card2{
  background-color: #35116566;
  grid-column: 2/span2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 107.5px 40px;
}
.cards .card3{
  background-color: #35116566;
  grid-column: 2/span2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 40px;
}
.cards .card4{
  background-color: #35116566;
  grid-column: 1/span 2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 40px;
  /* margin-bottom: 120px; */
}
.cards .card5{
  background-color: #35116566;
  grid-column: 3/span 2;
  border-radius: 40px;
  text-align: left;
  align-content: center;
  padding: 40px 60px 40px 40px;
  /* margin-bottom: 120px; */
}

.last-container{
  background-color: #1A0B2E;
  width: 100%;
  max-width: 1801px;
  margin: 0px auto;
  padding-top: 120px;
  padding-bottom: 50px;
  /* background-color: #230E3D; */
  /* border: 1px solid red;  */
}
.last-container h2{
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.video-grid{
  /* border: 1px solid green; */
  width: 1400px;
  margin: 0 auto;
  display: flex;
  /* background-color: #230E3D; */
  gap: 30px;
}
.video-grid .video-content{
 
  /* border: 1px solid yellow; */
  border-radius: 24px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  /* align-items:  */
  /* position: absolute; */
  background-color: #250D44;
}
.video-content .video iframe{
  /* border: 1px solid plum; */
  width: 380px;
  height: 314px;
  width: 100%;
  /* height: 100%; */
  border-radius: 24px 24px 0px 0px;
  /* height: auto; */
}
.video-content .context{
  /* color: #FFFFFF; */
  padding: 30px;
}
.context h3{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  /* margin: ; */
  padding-bottom: 18px;
}
.context p{
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  /* text-wrap: ; */
}
.context .time{
  padding-top: 18px;
  color: #00FF88;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 8px;
}
.host{
  /* border: 1px solid red; */
  width: 1400px;
  margin: 120px auto;                        
}
.host h2{
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  /* margin-bottom: 120px; */
}
.host .host-dtls{
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #35116566;
  padding: 52.5px 45px;
  border-radius: 40px;
}
.host-info{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.host-info h3{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
}
.host-info p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}
.host-info ul{
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: left;
  align-items: center;
}
.host-info ul li{
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 5000px;
  /* box-sizing: border-box; */
  width: 40px;
  height: 40px;
  /* margin: 0 auto; */
  align-items: left;
}
.host-info ul li img{
  padding: 10px;
  /* margin: 0 auto; */
  width: 40px;
  height: 40px;
}

.footer-bg{
  background-image: url("./assets/footer-bg.png");
  max-width: 1801px;
  width: 100%;
  height: 412px;
  /* height: 100%; */
  margin: 0 auto;
  padding: 110px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-container{
  /* border: 1px solid red; */
  width: 1400px;
  text-align: center;
  margin: 0px Auto;
  display: flex;
  flex-direction: column;

}
.footer-container .footer-logo{
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
  /* width: 219px; */
  /* height: 32px; */
  /* margin-top: 16px; */
  /* margin-bottom: 35px; */
}
.footer-container .links{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  list-style: none;
  gap: 40px;
  /* border: 1px solid green; */
}
.links li{
  color: #FFFFFF;
  opacity: 0.6;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
  margin-top: 30px;
}
.footer-container .copyrights{
  color: rgba(250, 250, 250, 1);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  padding-top: 15px;
}













@media screen and (max-width: 576px) {
  body{
    width: 100%;
    overflow-x: hidden;
  }

  nav{
    padding: 0 16px;
  }
  .logo h2{
    font-size: 28px;
    margin: 16px 0;
  }
  nav .menu,
  .btn-container{
    display: none;
  }
  nav>span{
    display: flex;
    font-size: 28px;
    cursor: pointer;
  }

  #banner{
    height: auto;
    padding: 80px 16px;
    text-align: center;
    width: 100%;
  }
  .banner-img .badge{
    position: absolute;
    /* margin-bottom: px; */
    top: 140px;
    left: 265px;
  }
  .banner-logo{
    position: absolute;
    /* margin-bottom: 0px; */
    /* padding-bottom: 100px; */
    top: 225px;
    left: 170px;
  }
  .banner-txt{
    width: 300px;
  }
  .banner-txt h2{
    font-size: 36px;
  }
  .banner-txt p{
  font-size: 12px;
  /* text-wrap: initial; */
  }
  .banner-btn{
    width: 300px;
    flex-direction: row;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
  }
  .banner-btn .trans{
    /* width: 100%; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 20px;
  }
  
  .p-head{
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }
  .details{
    flex-direction: column;
    width: 100%;
    /* gap: 30px; */
  }
  .details p{
    /* width: 100%; */
    /* margin-bottom: 40px; */
  }

  .grid{
    /* width: 100%; */
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .grid-head h3{ 
    /* width: 300px; */
    text-align: left;
    /* margin: 0 auto; */
    /* border: 1px solid green; */
    /* color: red; */
    font-size: 32px;
    width: 100%;
    padding-left: 50px;
    /* margin-bottom: ; */
  }
  .grid .cards{
    width: 100%;
    padding: 10px 16px;
  }
  .grid .cards{
    grid-template-columns: 1fr;
    /* grid-column: 1fr; */
    /* grid-row: ; */
    /* padding: 30px; */
    /* margin: 22px; */
  }
  .cards .card1,
  .cards .card2,
  .cards .card3,
  .cards .card4,
  .cards .card5{
    grid-column: auto;
    grid-row: auto;
    margin: 0 20px;
    padding: 32px 24px 32px 24px;
  }

  .video-grid{
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    /* margin: 20px; */
    margin-bottom: 100px;
  }
  .video-content{
    width: 100%;
  }

  .host{
    width: 100%;
    padding: 0 16px;
    margin: 80px auto;
  }
  .host h2{
    font-size: 32px;
    text-align: center;
  }
  .host .host-dtls{
    flex-direction: column;
    text-align: center;
  }
  .host h2{
    font-size: 32px;
    text-align: center;
  }
  .host-info ul{
    justify-content: center;
  }

  .footer-bg{
    /* padding: 60px 16px; */
    height: 100%;
    width: 100%;
    position: cover;
  }
  .footer-container{
    width: 100%;
    align-items: center;
  }
  .footer-container .footer-logo{
    /* width: 100%; */
    font-size: 44px;
  }
  .footer-container .links{
    /* border: 1px solid green; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: none; */
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .links li{
    /* display: flex; */
  }
  .footer-container .copyrights{
    /* flex-wrap: nowrap; */
  }
}
