*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
  background-color: #1A0B2E;
  padding-top: 0px;
  width: 100%;
  max-width: 1801px;
  margin: 0px auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 314px; */
  padding: 0px 200px
}
.logo h2{
  font-size: 44px;
  /* font-weight: bold; */
  color: #ffffff;
  width: 219px;
  height: 32px;
  margin-top: 16px;
  margin-bottom: 35px;
}
.other-half{
  background: linear-gradient( to top right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 32px;
}
nav .menu a{
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
}
.btn-container{
}
.btn{
  background: linear-gradient( to top right, #F7E93F, #FB09B4, #9100F8);
  border: none;
  padding: 12px 16px;
  border-radius: 10000px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 4px;
  
}